@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;

}



.navbar {

  width: 100%;
  height: 70px;



}

.background {
  background: rgba(0, 0, 0, 0.7) url(img/nim.jpg);
  background-size: cover;
  background-blend-mode: darken;
}


.h1 {
  margin-top: 30px;
  padding-left: 30px;
  color: black;

}





.logo img {
  width: 80px;

}

.navlist {
  display: flex;
  align-items: center;
  padding: 34px 34px;
  height: 10px;
}


.navbar li {
  list-style: none;

}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 0px 34px;
}

.navbar a:hover {
  color: grey;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.video {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0px;
}


.videomain{
  margin: 10px 0px;
}
.video1{
  border-radius: 10px;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0px;
}

.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  transition: 0.50s;
}

.container .box:hover {

  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgbx {
  position: absolute;
  height: 100%;
  width: 99%;
  left: 0;
  top: 0;
}

.container .box .imgbx img {
  position: absolute;
  height: 100%;
  width: 99%;
  left: 0;
  top: 0;
  object-fit: cover;
}

.container .box .imgbx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #f00, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .imgbx::before {
  opacity: 1;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: stretch;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-size: 20px;
  transform: translateY(200px);

}

.container .box:hover .content h2 {
  transform: translateY(0);
  transition-delay: 0.1s;
}

.container .box .content p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.6s;
  font-size: 15px;

}


.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.2s;
}
.btmfooter ul li a {
  text-decoration: none;
  color: black;
}
.footer {
  background-color: #24262b;
  padding: 70px 0px;

}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container3 {
  max-width: 1170px;
  margin: auto;

}

.footer-col {
  width: 25%;
  padding: 0px 8px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  position: relative;

}


.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e93e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
}

.footer-col p {
  color: #ffffff;
}


.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li {
  list-style: none;
}

.footer-col ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;


}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}

.footer-col .social-icon a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.footer-col .social-icon a:hover {
  color: #24262b;
  background-color: #ffffff;

}

.btmfooter {
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
  margin-top: 20px;
  height: 60px;
  align-items: center;
}


.btmfotflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btmfooter ul li {
  display: inline-block;
  position: relative;
  margin-left: 30px;
}

.web{
  width: fit-content;
  border-bottom: 1px solid #ccc;
}